<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="/static/css/login_style.css">
</head>
<body>
    <div class="login-container">
        <h2>회원가입</h2>
        <form id="signupForm" action="/signup/" method="post" onsubmit="registerUser(event)">
            <input type="text" id="registerUsername" name="username" placeholder="아이디" required>
            <input type="password" id="registerPassword" name="password" placeholder="패스워드" required>
            <input type="password" id="confirmPassword" placeholder="패스워드 확인" required>
            <input id="organization" name="organization" placeholder="기관(소속)" required="True" type="text"/>
            <input id="email" name="email" placeholder="이메일" required="True" type="email"/>
            <button type="submit" class="btn">회원가입</button>
        </form>        
        <p id="signupMessage"></p>
        <a href="/">로그인 페이지로 돌아가기</a>
        <p id="stopMessage" style="margin-top: 15px;">잠시만 기다려주세요.</p>
    </div>

    <footer>
        문의메일 : <a href="https://mail.google.com/mail/u/0/?fs=1&amp;to=va.e8000@gmail.com&amp;tf=cm" target="_blank">va.e8000@gmail.com</a>
        (주)워크원오원 인천광역시 서구 심곡로 100번길 7, 316호
        Copyright © 2023 Walk 101. All Rights Reserved.
    </footer>

    <script>
        function registerUser(event) {
            event.preventDefault();
            var username = document.getElementById("registerUsername").value;
            var password = document.getElementById("registerPassword").value;
            var confirmPassword = document.getElementById("confirmPassword").value;

            var usernamePattern = /^[a-zA-Z0-9]{6,}$/;
            var passwordPattern = /^[a-zA-Z0-9]{6,}$/;

            if (!usernamePattern.test(username)) {
                alert("아이디는 영문자와 숫자로 구성되어야 하며, 최소 6자리 이상이어야 합니다.");
                return;
            }

            if (!passwordPattern.test(password)) {
                alert("패스워드는 영문자와 숫자로 구성되어야 하며, 최소 6자리 이상이어야 합니다.");
                return;
            }

            if (password !== confirmPassword) {
                alert("비밀번호가 일치하지 않습니다.");
                return;
            }

            submitForm(event);
        }
    
        function submitForm(event) {
            var form = document.getElementById("signupForm");
            var xhr = new XMLHttpRequest();
            document.getElementById("stopMessage").textContent = "잠시만 기다려주세요.";
            xhr.open("POST", "/signup/", true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    var status = xhr.status;
                    if (status == 0 || (status >= 200 && status < 400)) {
                        alert("회원가입이 완료 되었습니다. 관리자 승인이 완료되면 로그인 할 수 있습니다.");
                        window.location.href = "/";
                    } else {
                        alert("An error occurred: " + xhr.statusText);
                    }
                }
            };
            xhr.send(new FormData(form));
        }

    </script>
    
</body>
</html>
